<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<!-- show user profile data -->
<form action="/" method="POST">
   <label for="username">Username</label>
   <input type="text" name="username" value="<%= %>"> <br/>
   <label for="gameName">Games Owned</label>
   <input type="text" name="gameName" value="<%= %>"> <br/>
   <label for="email">Email</label>
   <input type="email" name="email" value="<%= %>"> <br/>
   <label for="phone_number">phone_number</label>
</form>



<%- include('./partials/footer.ejs') %>