<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<!-- show user profile data -->
<div class="profile">
  <h1>Profile</h1>
   <div>
      <a href="/profile/<%= profile.id %>">Profile</a>
      <a href="/profile/<%= profile.id %>/delete">Deactivate Account</a>
   </div>
   <div style="text-align :center">   
      <p>Username </p>
      <input type="text" name="username" value="<%= profile.username %>" readonly> 
      <p>Games owned</p> 
      <input type="text" name="gameName" value="<%= games %>" readonly> 
      <p>Email</p> 
      <input type="email" name="email" value="<%= profile.email %>" readonly> 
      <p>Phone Number</p> 
      <input type="text" name="phone_number" value="<%= profile.phone_number %>" readonly> 
      <br><br>
      <a href="/profile/<%= profile.id %>/edit">Edit</a>
   </div>
</div>

<%- include('./partials/footer.ejs') %>